
/* @import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap'); */
/* Color Scheme:
green: #1db954;
black text: #191414;
white text: #FFFFFF;
light gray text: #A9A9A9;
dark gray: #404040;
red: #EF2D56;
*/

html {
  background-image: linear-gradient(#404040, #191414);
  background-attachment: fixed;
  color: #FFFFFF;
  width: 98%;
  height: 100%;
  letter-spacing: 0.1em;
  flex-direction: column;

}
body {
  font-family: 'Work Sans', sans-serif;
}
a {
  color: inherit; 
  text-decoration: inherit; 
}
a:hover {
  color: #1db954;
  text-decoration: inherit; 
}
select {
  margin: 5px;
  width: 80%;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 0px solid #191414;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(./hamburger_icon.png) 98.5% / 25px no-repeat #A9A9A9;
  outline-color: #191414;
}
select option{
  background-color: #191414;
}
/* .playlist-select-dropdown select:focus {
  
} */
.welcome-page {
  width: 60%;
  vertical-align: middle;
}
.welcome-img {
  height: 155px;
}
.welcome-header {
  width: 100%;
  margin: 5px;
  font-weight: bold;
  font-size: 20px
}
.welcome-body {
  width: 100%;
  margin: 5px;
  color: #A9A9A9;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.welcome-play-button {
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #1db954;
  font-size: 13px;
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 5px;
  border: none;
  opacity: .7;
  transition: 0.3s;
}
.welcome-play-button:hover {
  opacity: 1;
  transform: scale(1.06);
}
.playlist-select-option hover{
  outline: none !important;
  background-color: #191414;
}
input {
  margin: 5px;
  padding: 0px;
  width: 200px;
  vertical-align: middle;
  padding: 1px;
  font-size: 22px;
  border: 1px solid #191414;
  background-color: #191414;
  height: 26px;
  color: white;
}
input[type=text]:focus {
  outline: none !important;
  border:1px 0px 0px 1px solid #191414;
}
.main-container {

  flex: auto;
  text-align: center;
}
.body-contianer {
  font-family: 'Work Sans', sans-serif;
  align-items: center
}
.logo-bar {
  color: #FFFFFF;
  display: flex;
  height: 55px;
  width: 100%;
  line-height: 55px;
  vertical-align: middle;
  /* background-color: #191414; */
  font-weight: bold;
  font-size: 25px;
  padding: 1%;
}
.logo-img {
  height: 55px;
}
.game-container {
  padding: 2%;
  width: 97%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.PlaylistForm {
  width:60%;
  align-items: center;
  justify-content: flex-start;
}
.game-title-div {
  margin: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 20px
}
.game-instructions-div {
  margin: 5px;
  width: 100%;
  color: #A9A9A9;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.guess-form {
  margin: 5px;
  width: 100%;
  text-align: center;
}
.spotify-player-iframe {
  margin: 5px;
  justify-content: center;
  width: 100%;
}
.playlist-instructions-header {
  margin: 5px;
  font-weight: bold;
  font-size: 20px
}
.playlist-instructions-body {
  margin: 5px;
  color: #A9A9A9;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.results-spash {
  width: 60%;
  justify-content: center;
}
.results-instructions {
  width: 100%;
  justify-content: center;
  padding: 1px;
  border-bottom: 1px solid;
  border-color: #191414;
}
.track-outcome{
  width: 100%;
  margin: 1px;
  padding: 1px;
  color: #A9A9A9;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0em;
  border-bottom: 1px solid;
  border-color: #191414;
}
.results-img {
  height: 15px;
  margin-top: 0px;
  vertical-align: top;
}
.save-game-form {
  text-align: center;
}
.play-again-button {
  text-align: center;
}
.footer{
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  background-color: #191414;
  font-size: 15px;
  position:fixed;
  bottom:0;
  font-weight: bold;
  transition: transform .2s;
}
.footer-img {
  text-align: center;
  vertical-align: middle;
  height: 25px;
}
.footer-img:hover {
  transform: scale(1.1);
}
.playlist-play-button {
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #1db954;
  font-size: 13px;
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 5px;
  border: none;
  opacity: .7;
  transition: 0.3s;
}
.playlist-play-button:hover {
  opacity: 1;
  transform: scale(1.06);
}
.submit-guess-button {
  margin: 5px;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #1db954;
  font-size: 13px;
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 5px;
  border: none;
  opacity: .7;
  transition: 0.3s;
}
.submit-guess-button:hover {
  opacity: 1;
  transform: scale(1.06);
}
.submit-results-button {
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #1db954;
  font-size: 13px;
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 5px;
  border: none;
  opacity: .7;
  transition: 0.3s;
}
.submit-results-button:hover {
  opacity: 1;
  transform: scale(1.06);
}
.play-again-button {
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #1db954;
  font-size: 13px;
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 5px;
  border: none;
  opacity: .7;
  transition: 0.3s;
}
.play-again-button:hover {
  opacity: 1;
  transform: scale(1.06);
}
.skip-button {
  margin: 5px;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #EF2D56;
  font-size: 13px;
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 5px;
  border: none;
  opacity: .7;
  transition: 0.3s;
}
.skip-button:hover {
  opacity: 1;
  transform: scale(1.06);
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}                
.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}  
.flash-message {
  color: #A9A9A9;
  margin: 5px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.game-timer{
  width: 100%;
  font-weight: normal;
  margin: 5px;
  color: #A9A9A9;
  font-size: 14px;
  letter-spacing: 0.05em;
}
.progress-bar {
  margin: 5px;
  /* padding: 1px; */
  width: 100%;
  height: 5px;
  background-color: #191414;
  border-radius: 2.5px;
}
.inside-progress-bar {
  /* margin: 2px 2px 2px 2px; */
  width: 100%;
  height: 5px;
  background-color: #A9A9A9;
  border-radius: 2.5px;
}
